* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Press Start 2P';
  background-color: gray;
  width: 100%;
  height: 100%
}

h1 {
  color: blueviolet
}

.outer-container {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 2px solid black;
  transform: translate(-50%, -50%);
  overflow: hidden;
  width: 800px;
  height: 600px;
  background-image: url('grass.jpg')
}

.score {
  font-size: 100px;
  color: black;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 100px;
  text-align: center;
  right: -135px;
  top: 50px;
}

.countdown {
    position: absolute;
    top: 10px;
    /* width: 100%; */
    font-size: 20px;
    left: 10px;
    text-align: center;
    color: black;
}

button {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  background: black;
  color: white;
  padding: 20px 50px;
  border-radius: 5px;
  z-index: 100;
  cursor: pointer;
  border: none;
  outline: none;
}

.board {
  /* border: 2px solid black; */
  width: 600px;
  height: 400px;
  margin: 70px auto;
  z-index: 200;
  display: flex;
  flex-wrap: wrap;
}

.hole {
  /* border: 2px solid red; */
  flex: 1 0 33.33%;
  position: relative;
  overflow: hidden;
}

.hole:after {
  content: '';
  display: block;
  background-image: url('dirt.jpg');
  position: absolute;
  width: 100%;
  height: 70px;
  z-index: 2;
  bottom: -30px;
  background-size: contain;
}

.bara {
  background-image: url('capybara.png');
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition: 0.4s;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 80%;
}

.hole.show .bara {
  top: 0;
}

.bara.small {
  background-size: 60%;
}

.bara-large {
  background-size: 80%;
}
