* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Press Start 2P';
  background-color: rgb(37, 37, 37);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  color: blueviolet
}

.outer-container {
  border: 2px solid black;
  overflow: hidden;
  width: 800px;
  height: 600px;
  background-image: url('grass.jpg')
}

.score-text {
  color: white;
  text-shadow:
  -1px -1px 0 #000,  
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

.score-number {
  color: orange;
  text-shadow:
  -1px -1px 0 #000,  
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
  margin-left: 15px;
}

.countdown {
  margin-top: 20px;
  width: 100%;
  font-size: 20px;
  text-align: center;
  color: white;
  text-shadow:
  -1px -1px 0 #000,  
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

button {
  
  background: black;
  color: white;
  padding: 20px 50px;
  border-radius: 5px;
  z-index: 100;
  cursor: pointer;
  border: none;
  outline: none;
}

.board {
  width: 600px;
  height: 350px;
  z-index: 200;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  cursor: url('../mallet.png'), auto;
}

.hole {
  /* border: 2px solid red; */
  flex: 1 0 33.33%;
  position: relative;
  overflow: hidden;
}

.hole:after {
  content: '';
  display: block;
  background-image: url('dirt.png');
  position: absolute;
  width: 100%;
  height: 100px;
  /* z-index: 2; */
  bottom: -30px;
  background-size: contain;
}

.bara {
  background-image: url('capybara.png');
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition: 0.4s;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  z-index: 10;
  /* cursor: pointer; */
}

.hole.show .bara {
  top: 0px;
}

.bara.small {
  background-size: 60%;
}

.bara-large {
  background-size: 80%;
}

.startButton {
  background-image: url('start.png');
  background-repeat: no-repeat;
  background-position: center;
  background-color: darkgray;
  border: 2px solid black;
  width: 20%;
  margin-top: 25px;
}

.startButton:hover {
  background-color: lightgray;
}

.bara-title {
  margin-top: 20px
}

.score-outer {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

.description {
  color: white;
  width: 608px;
  line-height: 2;
  margin-left: 90px;
  margin-bottom: 20px;
}

.links {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 160px;
  align-items: center;
}

#footer-git, #footer-linkedin, #footer-personal {
  font-size: 30px;
  color: #959595;
}
#footer-git:hover, #footer-linkedin:hover, #footer-personal:hover {
  color: white;
  cursor: pointer;
}
